body {
    background-image:url("https://img.freepik.com/free-vector/cloud-background-vector-cute-desktop-wallpaper_53876-136885.jpg?w=2000");
    }
     
    #container{
       background-color:lightblue;
       border: 3px solid beige;
       height: 275px;
       width: 750px;
       margin: 0 auto;
       text-align: center;
    }



#btn{
   margin:50px auto;
   height: 50px;
   width: 250px;
   font-size: 22px;
   background-color: aquamarine;
}


#output{
    margin:25px;
    font-size: 26px;
 }
 


    